.questionario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* 
@media (max-width: 1200px) {
  .questionario {
    /* color: ; */
